.lang-current {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.lang-options {
    position: relative;
    left: 50%;
    z-index: 999;
    display: none;
}

.lang-options div {
    cursor: pointer;
}

.lang-options div:hover {
    font-weight: bold;
}
