.lang-current {
    cursor: pointer;
    user-select: none;
    position: relative;
}

.lang-options {
    visibility: hidden;
}

.lang-options div {
    cursor: pointer;
}

.lang-options div:hover {
    font-weight: bold;
}
